<mat-sidenav-container class="app-root">
  <mat-sidenav #sidenav mode="side" opened class="app-sidenav">
    <mat-toolbar color="primary">
      Menu
      <span class="toolbar-spacer"></span>
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>
    <mat-nav-list>
      @for (item of navItems(); track item.path) {
        <a mat-list-item [routerLink]="'/' + item.path">
          <mat-icon matListItemIcon>{{ item.data?.['icon'] }}</mat-icon>
          <span matListItemTitle>{{ item.title }}</span>
        </a>
      }
    </mat-nav-list>

    <app-auth-panel />
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      @if (!sidenav.opened) {
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      }
      <span>Programowanie aplikacji webowych 2026z</span>
    </mat-toolbar>

    <div class="content-wrapper">
      <router-outlet />
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>