.table-scroll-container {
    width: 100%;
    overflow-x: auto;
}

mat-table, table {
    width: 100%;
    min-width: 900px; 
}

th.mat-mdc-header-cell, 
th.mat-header-cell {
    background-color: #f5f5f5 !important;
    font-weight: 600;
    font-size: 14px;
    color: #1a237e;
    z-index: 100;
}