.auth-panel {
  padding: 12px;
}

.auth-user-info {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
}

.auth-user-info button {
  margin-left: auto;
}

form {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

mat-form-field {
  width: 100%;
}

button[type="submit"] {
  width: 100%;
}
